####################################
# PLPE OS Backend Configuration
####################################

NODE_ENV=development

PORT=3001

####################################
# Frontend
####################################

CORS_ORIGIN=http://localhost:5173

####################################
# API KEYS
####################################

ETHERSCAN_API_KEY=YOUR_ETHERSCAN_API_KEY

####################################
# GeckoTerminal
####################################

GECKO_POOL=0xb4ffb01c89ffa24e6d01de95d3d780bc3e835390

####################################
# Token
####################################

PLPE_CONTRACT=0xc34e5ef4f7f5607fbd3e060077cd6e2161ab54c7