.card-title {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 18px;
}

.card-title h2 {
    margin: 0;

    font-size: 18px;
    font-weight: 700;

    color: var(--text-primary);
}

.card-title-icon {
    color: var(--plpe-green);

    flex-shrink: 0;

    filter:
        drop-shadow(0 0 6px rgba(0,255,140,.25));

    transition: .25s;
}

.profile-card:hover .card-title-icon,
.analytics-card:hover .card-title-icon {
    transform: scale(1.08);

    color: #6dffba;

    filter:
        drop-shadow(0 0 10px rgba(0,255,140,.55));
}