.holder-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.holder-header p{

    color:#94a3b8;

    margin-top:6px;

}

.holder-value{

    text-align:right;

}

.holder-value span{

    color:#94a3b8;

    font-size:13px;

}

.holder-value h1{

    color:#22c55e;

    margin-top:5px;

    font-size:38px;

}

.holder-chart{

    height:260px;

    border-radius:12px;

    border:1px dashed #374151;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#64748b;

}